@import url('https://fonts.googleapis.com/css2?family=Alata&family=Assistant:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: "Noto Sans", Sans-serif;
    margin: 0;
}

::-webkit-scrollbar {
    width: 0;
}